<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" id="WebApp_ID"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<display-name>HSBCWebApp</display-name>
	<servlet>
		<servlet-name>AddCitizen</servlet-name>
		<servlet-class>com.hsbc.controller.AddCitizenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCitizen</servlet-name>
		<url-pattern>/addcitizen</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ApplyScheme</servlet-name>
		<servlet-class>com.hsbc.controller.ApplyCitizenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApplyScheme</servlet-name>
		<url-pattern>/applyscheme</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>Apply</servlet-name>
		<servlet-class>com.hsbc.controller.ApplySchemeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Apply</servlet-name>
		<url-pattern>/apply</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ValidateCitizen</servlet-name>
		<servlet-class>com.hsbc.controller.ValidateCitizenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidateCitizen</servlet-name>
		<url-pattern>/validatecitizen</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ordername</servlet-name>
		<servlet-class>com.hsbc.controller.CitizenController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ordername</servlet-name>
		<url-pattern>/Control</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>